
{% extends 'base.html.twig' %}

{% block title %}Vecino{% endblock %}

{% block body %}
  <div class="container">

  <div class="card-group" style="margin-top:20px;">
    <div class="col-md-3 ">
        <div class="card border-primary  mb-2" style="max-width: 18rem;">
  			<center><div class="card-header">SALUD</div></center>
  			    <a href="https://saludextremadura.ses.es/web/"><img src='{{ asset('imagenes/la-salud.jpg')}}'height="130px";></a>
				 
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border-danger mb-2" style="max-width: 18rem;">
  			<center><div class="card-header">TRÁMITES</div></center>
  			    <a href="{{ path('tramite_index') }}"><img src='{{ asset('imagenes/tramites.jpg')}}'height="130px";></a>
				  
			
        </div>
    </div>
    <div class="col-md-3">
  	    <div class="card border-success mb-2" style="max-width: 18rem;">
  			<center><div class="card-header">EMPLEO</div></center>
  				 <a href="{{ path('empleo_index') }}"><img src='{{ asset('imagenes/empleo.jpg')}}'height="130px"width="100%";></a>
				  
        </div>
    </div>
    <div class="col-md-3">
  	    <div class="card border-warning mb-3" style="max-width: 18rem;">
  			<center><div class="card-header">DEPORTE</div></center>
             <a href="{{ path('deporte_index') }}"><img src='{{ asset('imagenes/deporte.jpg')}}'height="130px" width="100%";></a>
				  
			
        </div>
    </div>
  </div>
</div>




<div class="col-md-9">
</div>
{% endblock %}



